<div class="title"><h2>Add your post</h2></div>
<form action="/blog/add" method="POST">  
    <input class="form-control form-control-lg" type="text" placeholder="Post" name="text" required>
    {{!-- <p>
        <label for="localdate">Date and time: </label>
        <input type="date" id="localdate" name="date" required>
    </p> --}}
    <button type="submit" class="btn btn-dark">Add</button>   
</form>